.header{
  width: 1190px;
  height: 30px;
  margin: 0 auto;
  line-height: 30px;
  .linkf6{
    color: #ff6915;
  }
  .link00{
    color: rgba(0,0,0,0.65);
    &:hover{
      color: #ff6915;
    }
  }
  .header_nav{
    float: right;
    display: flex;
    margin: 0;
  }
}